.cover__link {
    text-decoration: none;
    position: relative;
    display: block;
    max-width: 100%;
    width: 100%;
    min-height: 740px;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover__link:before {
    content: '';
    position: absolute;
    background-color: #2A2C2F;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.cover__link:hover.cover__link:before {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover__link {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__link {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__link {
        min-height: 450px;
    }
}

@media screen and (max-width: 600px) {
    .cover__link {
        min-height: 350px;
    }
}

@media screen and (max-width: 490px) {
    .cover__link {
        min-height: 280px;
    }
}

@media screen and (max-width: 440px) {
    .cover__link {
        min-height: 260px;
    }
}

@media screen and (max-width: 330px) {
    .cover__link {
        min-height: 200px;
    }
}