.page {
    min-width: 1280px;
    background: #2A2C2F;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .page {
        min-width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .page {
        min-width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        min-width: 425px;
    }
}

@media screen and (max-width: 425px) {
    .page {
        min-width: 320px;
    }
}
   