@import url(./__items/photo-grid__items.css);
@import url(./__item/photo-grid__item.css);

.photo-grid {
    max-width: 1184px;
    margin: 0 auto;
    margin-bottom: 92px;
    padding: 0 48px;
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        margin-bottom: 88px;
        padding: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        margin-bottom: 64px;
        padding: 0 16px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid {
        margin-bottom: 64px;
        padding: 0 16px;
    }
}