@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__illustration/lead__illustration.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
    margin: 0 auto;
    margin-bottom: 92px;
    padding: 0 148px;
}

@media screen and (max-width: 1279px) {
    .lead {
        max-width: 928px;
        padding: 0 48px;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        max-width: 768px;
        padding: 0;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        max-width: 320px;
        padding: 0;
        margin-bottom: 64px;
    }
}