.footer__link {
    min-height: 18px;
    margin-right: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__link:hover {
    opacity: 0.8;
    transition: opacity 0.3s linear;
}

.footer__link:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 425px) {
    .footer__link {
        min-height: 24px;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
        margin-right: 0;
    }

    .footer__link:last-of-type {
        margin-bottom: 0;
    }
}