.footer__links {
    display: flex;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

@media screen and (max-width: 767px) {
    .footer__links {
        display: flex;
        flex-direction: column;
    }
}