.place__paragraph {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    grid-column: 2/3;
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        grid-column: 1/2;
        margin: 0 16px;
    }
}