.photo-grid__items {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px,1fr));
    grid-gap: 16px;
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {
    .photo-grid__items {
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
        max-width: 928px;
        grid-gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid__items {
        grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
        max-width: 720px;
        grid-gap: 16px;
    }
}

@media screen and (max-width: 425px) {
    .photo-grid__items {
        grid-template-columns: 288px;
        max-width: 288px;
        grid-gap: 12px;
    }
}