.cover__title {
    min-height: 152px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 32px;
    padding: 0 312px;
}

@media screen and (max-width: 1279px) {
    .cover__title {
        padding: 0 232px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__title {
        padding: 0 104px;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        padding: 0 16px;
        min-height: 70px;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }
}
