.intro__title {

    min-height: 58px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
    .intro__title {
        min-height: 70px;
        font-size: 32px;
        line-height: 35px;
    }
}